* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1440px;
}

.hero-section {
  display: flex;
  width: 714px;
  height: 387px;
  flex-direction: column;
}

.hero-h1 {
  display: flex;
  font-size: 58px;
  text-align: center;
  color: #1e0e62;
}

.hero-p {
  color: #15143966;
  text-align: center;
  font-size: 22px;
  margin: 32px 78px;
}
